#Files and folders specified here will never be tracked.

*.ban
*.bdb
*.log
*.sav

#Compiled files and other files generated during compilation.
*.dmb
*.rsc
*.lk
*.int
/data/mode.txt
*.html
data/ban_unban_log.txt
data/consistent.ini
icons/obj/doors/1x3blast_vert.dmi
icons/obj/doors/1x3blast_hor.dmi
